<div
  class="list-item-container clickable content"
  (click)="recipeClicked.emit(recipe._id)"
>
  <h4 class="title is-5">{{ recipe.name }}</h4>

  <p class="subtitle is-6 list-duration flex-item nogrow">
    Prep Time: {{ recipe.prepDuration }} &nbsp;|&nbsp; Cook Time:
    {{ recipe.cookDuration }}
  </p>
</div>
