@import "../../../../imports";

.list-item-container {
  padding: 1rem;
  border-top: 1px solid $dropdown-divider-background-color;

  &:hover {
    background-color: $dropdown-item-hover-background-color;
  }
}
