<div class="modal" [ngClass]="{ 'is-active': showDialog }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">Delete '{{ itemName }}'?</header>
    <section class="modal-card-body">
      Do you want to delete '{{ itemName }}'?
    </section>
    <footer class="modal-card-foot">
      <button
        class="button is-primary yesBtn"
        name="confirm-dialog"
        (click)="this.dialogClosed.emit(true)"
      >
        Yes
      </button>
      &nbsp;
      <button
        name="cancel-dialog"
        class="button noBtn"
        (click)="this.dialogClosed.emit(false)"
      >
        Cancel
      </button>
    </footer>
  </div>
</div>
