@import "../../../imports";

p.duration {
  font-size: 0.75em;
  text-align: right;
}

#ingredientList {
  li {
    align-items: center;
    display: flex;

    &.underline {
      border-bottom: 1px solid $info;
    }

    span {
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

div.controls {
  display: flex;
  justify-content: flex-end;
}

div.overallStats {
  display: flex;
  justify-content: space-between;

  .recipeServings {
    flex: 0 0 75px;
  }
}

.navbar.is-link {
  h4 {
    flex: 1 1 auto;
  }
}
