<div class="activeRecipe" *ngIf="activeRecipe">
  <div class="controls field is-grouped is-justify-content-flex-end">
    <p class="control">
      <button
        *ngIf="recipeIsOwnedByUser()"
        class="button"
        type="button"
        name="edit-recipe-button"
        (click)="editRecipe()"
      >
        <span class="icon">
          <mat-icon aria-label="Edit this Recipe" fontIcon="edit"></mat-icon>
        </span>
      </button>
    </p>
    <p class="control">
      <button class="button" type="button" (click)="hideRecipeViewer()">
        <span class="icon">
          <mat-icon aria-label="Close this Recipe" fontIcon="close"></mat-icon>
        </span>
      </button>
    </p>
  </div>

  <div class="navbar is-link">
    <div class="navbar-brand is-flex-shrink-1">
      <h4 class="navbar-item is-active title is-4 is-flex-shrink-1">
        {{ activeRecipe.name }}
      </h4>
    </div>

    <div class="navbar-end" *ngIf="!isShareLink">
      <div class="navbar-item"></div>
    </div>
  </div>

  <div class="card field">
    <div class="card-header">
      <h3 class="card-header-title">Times</h3>
    </div>
    <div class="card-content">
      <div class="overallStats">
        <div class="recipe-times">
          <p class="block">
            <span class="has-text-weight-bold">Prep Time:</span>
            &nbsp;<span>{{ activeRecipe.prepDuration }}</span>
          </p>
          <p class="block">
            <span class="has-text-weight-bold">Cook Time:</span>
            &nbsp;<span>{{ activeRecipe.cookDuration }}</span>
          </p>
        </div>
        <div class="recipeServings">
          <label class="label" for="recipe-servings">Servings</label>
          <input
            class="input"
            placeholder="Servings"
            min="1"
            name="recipe-servings"
            type="number"
            (input)="onDisplayedServingsChange()"
            [(ngModel)]="displayedServings"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="card field">
    <div class="card-header">
      <h3 class="card-header-title">Ingredients</h3>
    </div>
    <div id="ingredients">
      <ul id="ingredientList" class="card-content">
        <li
          class="ingredient block"
          [ngClass]="{ underline: !isShareLink }"
          *ngFor="let ingredient of activeIngredients; index as i"
          attr.name="ingredient{{ i }}"
        >
          <span>{{ ingredient.getDescriptionString() }}</span>
          <button
            *ngIf="!isShareLink"
            class="button"
            type="button"
            name="addIngredientToList{{ i }}"
            (click)="addIngredientToList(i)"
          >
            <span class="icon">
              <mat-icon
                aria-label="Add this ingredient to the shopping list"
                fontIcon="playlist_add"
              ></mat-icon>
            </span>
          </button>
        </li>
      </ul>

      <div class="card-content">
        <button
          *ngIf="!isShareLink"
          class="button"
          type="button"
          name="addAllIngredientsToList"
          (click)="addAllIngredientsToList()"
        >
          <span class="icon">
            <mat-icon
              aria-label="Add all ingredients to the shopping list"
              fontIcon="copy_all"
            ></mat-icon>
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="card field">
    <div class="card-header">
      <h3 class="card-header-title">Directions</h3>
    </div>
    <div id="directions" class="card-content">
      <ul id="directionList">
        <li
          *ngFor="let direction of activeRecipe.directions; index as i"
          (click)="toggleDirectionCompleted(i)"
          class="clickable block"
          [ngClass]="{ completed: directionsComplete[i] }"
          attr.name="direction{{ i }}"
        >
          {{ direction.text }}
          <p class="duration">{{ direction.duration }}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-header-title">Share</h3>
    </div>
    <div class="card-content">
      <input
        class="input"
        name="recipe-share"
        placeholder="Share"
        type="text"
        value="{{ getShareURL() }}"
      />
    </div>
  </div>
</div>
