@import "../../../imports";

.recipe-form-header {
  display: flex;
  justify-content: space-between;
}

.ingredient,
.direction {
  border-bottom: 1px solid $info;
  text-align: right;
}

.direction textarea {
  flex: 1 1 100%;
}

.direction-fields {
  display: flex;
  align-items: center;
}

.submit-row {
  padding-top: 0;
}
