<div *ngIf="editRecipe">
  <div class="recipe-form-header">
    <span class="title is-4">{{ editState ? "Edit" : "Add" }} Recipe</span>

    <div class="buttons">
      <button
        *ngIf="editState"
        class="button"
        type="button"
        name="delete-recipe-button"
        (click)="confirmDeleteRecipe()"
      >
        <span class="icon">
          <mat-icon
            aria-label="Delete this recipe"
            fontIcon="delete"
          ></mat-icon>
        </span>
      </button>
      <button class="button" type="button" (click)="hideRecipeForm(recipeForm)">
        <span class="icon">
          <mat-icon
            aria-label="Stop editing this recipe"
            fontIcon="clear"
          ></mat-icon>
        </span>
      </button>
    </div>
  </div>

  <div>
    <form #recipeForm="ngForm" (submit)="onFormSubmit(recipeForm)">
      <div class="card field">
        <div class="card-header">
          <h3 class="card-header-title">Recipe Details</h3>
        </div>
        <div class="card-content">
          <!--recipe Name-->
          <div class="form-row field">
            <input
              class="input"
              name="recipeName"
              [(ngModel)]="editRecipe.name"
              placeholder="Recipe Name"
              required
              type="text"
            />
          </div>
          <!--recipe duration-->
          <div class="form-row field">
            <input
              class="input"
              id="recipePrepDuration"
              name="recipePrepDuration"
              [(ngModel)]="editRecipe.prepDuration"
              placeholder="Prep Time"
              type="text"
              required
            />
          </div>
          <div class="form-row field">
            <input
              class="input"
              id="recipeCookDuration"
              name="recipeCookDuration"
              [(ngModel)]="editRecipe.cookDuration"
              placeholder="Cook Time"
              type="text"
              required
            />
          </div>
          <!--Number of servings-->
          <!-- TODO: Not validating correctly
            should use some reactive forms and validation -->
          <div class="form-row field">
            <input
              class="input"
              type="number"
              placeholder="Number of Servings"
              id="recServings"
              name="recServings"
              [(ngModel)]="editRecipe.servings"
              required
            />
          </div>
        </div>
      </div>

      <!--Ingredients-->
      <div
        class="card droppable-row field"
        cdkDropList
        (cdkDropListDropped)="onIngredientDrop($event)"
      >
        <div class="card-header">
          <h3 class="card-header-title">Ingredients</h3>
        </div>
        <div
          *ngFor="let ingredient of editRecipe.ingredients; index as i"
          cdkDrag
          [attr.data-index]="i"
          class="card-content ingredient"
        >
          <mat-icon
            class="clickable"
            (click)="confirmDeleteIngredient(ingredient)"
            fontIcon="clear"
            attr.name="deleteIngredient{{ i }}"
          ></mat-icon>
          <div class="form-wrapper">
            <div class="form-row">
              <input
                class="input field"
                placeholder="Amount"
                type="text"
                required
                id="amount{{ i }}"
                attr.name="amount{{ i }}"
                name="amount{{ i }}"
                [(ngModel)]="ingredient.amount"
              />
              <input
                class="input field"
                placeholder="Unit"
                type="text"
                id="unit{{ i }}"
                attr.name="unit{{ i }}"
                name="unit{{ i }}"
                [(ngModel)]="ingredient.unit"
              />
              <input
                class="input field"
                placeholder="Name"
                type="text"
                required
                id="name{{ i }}"
                attr.name="name{{ i }}"
                name="name{{ i }}"
                [(ngModel)]="ingredient.name"
              />
            </div>
            <mat-icon
              aria-label="Drag to reorder ingredient"
              cdkDragHandle
              class="drag-handle icon_sml"
              fontIcon="reorder"
            ></mat-icon>
          </div>
        </div>
        <div class="card-content">
          <button
            class="button is-fullwidth"
            type="button"
            id="add-ingredient-button"
            (click)="addIngredient()"
          >
            <span class="icon">
              <mat-icon
                aria-label="Add a new Ingredient"
                fontIcon="add"
              ></mat-icon>
            </span>
          </button>
        </div>
      </div>

      <!-- Directions -->
      <div
        class="card field"
        cdkDropList
        (cdkDropListDropped)="onDirectionDrop($event)"
      >
        <div class="card-header">
          <h3 class="card-header-title">Directions</h3>
        </div>
        <div>
          <div
            *ngFor="let direction of editRecipe.directions; index as i"
            cdkDrag
            class="direction droppable-row card-content"
            [attr.data-index]="i"
          >
            <mat-icon
              (click)="confirmDeleteDirection(direction)"
              class="clickable"
              attr.name="deleteDirection{{ i }}"
              >clear</mat-icon
            >
            <div class="direction-fields">
              <div class="flex-item">
                <div class="field">
                  <textarea
                    class="textarea"
                    placeholder="Direction"
                    type="text"
                    required
                    id="direction{{ i }}"
                    attr.name="direction{{ i }}"
                    name="direction{{ i }}"
                    [(ngModel)]="direction.text"
                  >
                  </textarea>
                </div>
                <input
                  class="input field"
                  placeholder="Duration"
                  type="text"
                  required
                  id="directionDuration{{ i }}"
                  attr.name="directionDuration{{ i }}"
                  name="directionDuration{{ i }}"
                  [(ngModel)]="direction.duration"
                />
              </div>
              <mat-icon cdkDragHandle class="drag-handle icon_sml"
                >reorder</mat-icon
              >
            </div>
          </div>
        </div>
        <div class="card-content">
          <button
            class="button is-fullwidth"
            type="button"
            id="add-direction-button"
            (click)="addDirection()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <!--Submit-->
      <div class="buttons card-content submit-row">
        <button
          id="submit-recipe-form-button"
          class="button is-primary"
          [disabled]="!recipeForm.form.valid"
        >
          {{ editState ? "Submit Changes" : "Add Recipe" }}
        </button>
        <span class="spacer"></span>
        <button
          class="button is-light"
          type="button"
          (click)="hideRecipeForm(recipeForm)"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
  <app-confirmation-dialog
    #deleteDialog
    [showDialog]="showDialog"
    [itemName]="dialogItemName"
  ></app-confirmation-dialog>
</div>
