<div id="login" class="card page-form-container">
  <h4 class="title is-4">Login</h4>
  <form #loginForm="ngForm" (submit)="submitLogin()">
    <div class="login-input">
      <p class="help is-danger" *ngIf="authError">Invalid credentials</p>
      <div class="field">
        <label for="username" class="label">Username</label>
        <input
          [(ngModel)]="username"
          class="input"
          name="username"
          placeholder="Username"
          required
          type="text"
        />
      </div>
      <div class="field">
        <label for="passwprd" class="label">Password</label>
        <input
          [(ngModel)]="password"
          class="input"
          name="password"
          placeholder="Password"
          required
          type="password"
        />
      </div>
      <div class="buttons is-centered">
        <button
          id="login_submit"
          class="button is-primary is-fullwidth"
          [disabled]="!loginForm.valid"
        >
          Submit
        </button>
        <button
          id="login_cancel"
          (click)="onLoginCancel()"
          class="button is-light is-fullwidth"
          type="button"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
