<div>
  <div class="field">
    <div class="ingredient-list card card-content can-grow field">
      <h5 class="title is-5" name="ingredientListCount">
        {{ ingredientList.getItems() | trueCount }} ingredients to get
      </h5>
      <div *ngIf="ingredientList.getItems().length">
        <app-ingredient-list-item
          *ngFor="
            let ingredientListItem of ingredientList.getItems();
            index as i
          "
          [index]="i"
          attr.name="ingredientListItem{{ i }}"
          [ingredientListItem]="ingredientListItem"
          [isEditingIngredient]="isEditingIngredient"
          (ingredientToEdit)="editIngredient($event)"
          (ingredientToRemove)="removeIngredient($event)"
          (ingredientToToggle)="toggleIngredient($event)"
        >
        </app-ingredient-list-item>
      </div>
    </div>
    <div
      class="card-content field"
      name="ingredientsEmptyMsg"
      *ngIf="!ingredientList.getItems().length"
    >
      <p>Your ingredient list is empty.</p>
    </div>
    <div class="submit-row field">
      <button
        class="button"
        type="button"
        color="primary"
        name="clearAllIngredients"
        (click)="clearIngredientList()"
      >
        Clear All
      </button>
    </div>
  </div>

  <div class="card field">
    <div class="card-content">
      <h5 class="title is-5">Add Ingredient</h5>
      <form
        #ingredientListForm="ngForm"
        id="ingredientListForm"
        (submit)="onIngredientFormSubmit(ingredientListForm)"
      >
        <input
          class="input field"
          placeholder="Amount"
          type="number"
          name="ingredientAmount"
          required
          [(ngModel)]="newIngredientAmount"
        />
        <input
          class="input field"
          placeholder="Unit"
          type="text"
          name="ingredientUnit"
          [(ngModel)]="newIngredientUnit"
        />
        <input
          class="input field"
          placeholder="Name"
          type="text"
          name="ingredientName"
          required
          [(ngModel)]="newIngredientName"
          #ingredientName
        />
        <div class="buttons">
          <button
            name="ingredientListFormAdd"
            class="button is-primary is-fullwidth"
            [disabled]="!ingredientListForm.form.valid"
          >
            Add
          </button>
          <button
            name="ingredientListFormCancel"
            class="button is-light is-fullwidth"
            (click)="onIngredientFormCancel(ingredientListForm)"
            type="button"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
