<div id="register" class="card page-form-container">
  <div class="content">
    <h4 class="title is-4">Thank You!</h4>
    <p>
      Thank you for submitting your registration information. You will be
      contacted by the admin shortly with a response.
    </p>

    <button class="button is-primary" (click)="goHome()" type="button">
      Home
    </button>
  </div>
</div>
