@import "../../../imports";

.ingredient-list-item {
  color: $dropdown-item-color;
  align-items: center;
  border-top: 1px solid $dropdown-divider-background-color;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &:hover {
    background-color: $dropdown-item-hover-background-color;
  }

  .buttons {
    flex-wrap: nowrap;
    margin-left: 10px;
  }
}
