<div class="ingredient-list-item clickable" (click)="toggleIngredient()">
  <p
    [ngClass]="{
      completed: ingredientListItem.completed,
      disabled: isEditingIngredient
    }"
  >
    {{ ingredientListItem.ingredient.getDescriptionString() }}
  </p>
  <div class="buttons">
    <button
      name="editIngredientListItem{{ index }}"
      class="button"
      (click)="editIngredient()"
      [disabled]="isEditingIngredient"
      type="button"
    >
      <span class="icon">
        <mat-icon aria-label="Edit this ingredient" fontIcon="edit"></mat-icon>
      </span>
    </button>
    <button
      name="removeIngredientListItem{{ index }}"
      class="button"
      (click)="removeIngredient()"
      [disabled]="isEditingIngredient"
      type="button"
    >
      <span class="icon">
        <mat-icon
          aria-label="clear ingredient list"
          fontIcon="clear"
        ></mat-icon>
      </span>
    </button>
  </div>
</div>
