<div id="recipe-list-page" class="card">
  <app-recipe-filter
    (filterStringUpdated)="updateFilterResults($event)"
  ></app-recipe-filter>

  <div class="recipe-list card-content">
    <div class="recipe-list-header">
      <p id="recipe-list-count" class="is-5">
        {{ displayedRecipes.length }} Recipes
      </p>
      <button id="add-recipe-button" class="button" (click)="showRecipeForm()">
        <span class="icon">
          <mat-icon aria-label="Add a New Recipe" fontIcon="add"></mat-icon>
        </span>
      </button>
    </div>

    <app-recipe-list-item
      *ngFor="let recipe of displayedRecipes; index as i"
      [attr.recipeName]="recipe.name.replaceAll(' ', '')"
      [recipe]="recipe"
      (recipeClicked)="onRecipeClick(i, recipe._id)"
    ></app-recipe-list-item>

    <div class="is-centered">
      <progress
        *ngIf="loadingRecipes"
        class="progress is-danger"
        max="100"
      ></progress>
    </div>
  </div>
</div>
