@import "../../../imports.scss";

.recipe-list-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.recipe-list {
  padding-top: 1.5rem;
}

@media (min-width: $tablet) {
  #recipe-list-page {
    padding: 0 1.5rem 1.5rem;
  }
}
