<div class="app-container">
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <h1 class="title is-4 is-active navbar-item clickable" (click)="goHome()">
        {{ title }}
      </h1>
    </div>
    <div class="navbar-item">
      <ng-container *ngIf="isAuthenticated()">
        <button
          id="log-out-button"
          class="button"
          type="button"
          (click)="logOut()"
        >
          Log Out
        </button>
      </ng-container>
      <ng-container *ngIf="!isRegistrationPage && !isAuthenticated()">
        <button class="button" type="button" (click)="register()">
          Register
        </button>
      </ng-container>
    </div>
  </nav>
  <div *ngIf="isAuthenticated()" class="tabs is-fullwidth is-large">
    <ul>
      <li [routerLink]="['recipes']" [routerLinkActive]="['is-active']">
        <a id="recipes-tab">Recipes</a>
      </li>
      <li [routerLink]="['ingredients']" [routerLinkActive]="['is-active']">
        <a id="ingredients-tab">Ingredients</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="text">
      <a
        href="https://bitbucket.org/thestablesonfire/foodofthegods/src/master/"
        target="_blank"
        >{{ title }}</a
      >
      by <span>Taylor&nbsp;Hawkins</span>
    </div>
    <span class="version">v{{ version }}</span>
  </footer>
</div>
