@import "../imports";

$app-width: 1200px;

div.app-container {
  background: $background;
  border-radius: 10px;
  margin: 0 auto;
  max-width: $app-width;
  position: relative;
}

div.container {
  display: block;
  margin: 0 auto;
  max-width: $app-width;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.page-form-container {
  margin: 100px auto 80px;
  max-width: 400px;
  padding: 20px;
  width: 90%;
}
