<div id="filter" class="card-content">
  <label class="label" for="recipe-filter">Filter</label>
  <input
    (input)="filterStringUpdated.emit(filterString)"
    [(ngModel)]="filterString"
    class="input"
    name="recipe-filter"
    placeholder="ex: egg, salad, spicy"
    type="text"
  />
</div>
