.form-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.form-row {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;

  > mat-form-field {
    flex: 1 1 100%;
  }
}

.drag-handle {
  margin-left: 10px;
}
