@import "./imports";

html {
  background: $background;
  color: $text;
}

body {
  font: 16px $family-primary, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $link;
}

.error {
  color: $red;
}

.spacer {
  flex: 1 1 auto;
}

.clickable {
  cursor: pointer;
}

.completed {
  color: #c7c7c7;
  text-decoration: line-through;
}

div.center {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-item {
  flex: 1 1 auto;

  &.nogrow {
    flex: 0 0 auto;
  }
}

input {
  width: 100%;
}
