<div id="register" class="card page-form-container">
  <h4 class="title is-4">Register</h4>
  <form [formGroup]="registerForm" (ngSubmit)="submitRegister()" novalidate>
    <div class="register-input">
      <div class="field">
        <label for="email" class="label">Email Address</label>
        <input
          formControlName="email"
          class="input"
          name="email"
          placeholder="email address"
          required
          type="email"
        />
        <p
          *ngIf="shouldShowFieldValidation(registerForm.controls.email)"
          class="error"
        >
          Please enter a valid email address
        </p>
      </div>
      <div class="field">
        <label for="username" class="label">Username</label>
        <input
          formControlName="username"
          class="input"
          maxlength="30"
          minlength="8"
          name="username"
          placeholder="username"
          required
          type="text"
        />
        <small
          *ngIf="shouldShowFieldValidation(registerForm.controls.username)"
          class="error"
        >
          Username must be between 8 and 30 characters
        </small>
      </div>
      <div formGroupName="passwordMatch" class="field">
        <div class="field">
          <label for="password" class="label">Password</label>
          <input
            formControlName="password"
            class="input"
            maxlength="30"
            minlength="8"
            name="password"
            placeholder="password"
            required
            type="password"
          />
          <small
            class="error"
            *ngIf="
              shouldShowFieldValidation(
                registerForm.get('passwordMatch').get('password')
              )
            "
          >
            Password must be between 8 and 30 characters
          </small>
        </div>

        <div class="field">
          <label for="passwordConfirm" class="label">Confirm Password</label>
          <input
            formControlName="passwordConfirm"
            class="input"
            name="passwordConfirm"
            placeholder="confirm password"
            required
            type="password"
          />
          <small
            class="error"
            *ngIf="
              shouldShowFieldValidation(registerForm.controls.passwordMatch)
            "
          >
            Passwords do not match
          </small>
        </div>
      </div>
      <div class="buttons field">
        <button
          class="button is-primary is-fullwidth"
          type="button"
          (click)="submitRegister()"
          [disabled]="!registerForm.valid"
        >
          Submit
        </button>
        <button
          class="button is-light is-fullwidth"
          (click)="onCancel()"
          type="button"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
